<web-app>
	<servlet>
		<servlet-name>Default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet
		</servlet-class>
		<init-param>
			<param-name>useFileMappedBuffer</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
</web-app>